// GLBAL [ PROJECTS ] #################################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.0. IMPORTS -------------------------------------------

@import "../../scss/.base/module-index";

// A.0. END: IMPORTS --------------------------------------

// A.1. PAGE BASE STYLES ----------------------------------
.oVacanciesPage,
.oPage {
  padding: 100px 0 0;
  .aTextLink {
    margin-bottom: 50px;
    display: inline-block;
    cursor: pointer;
    &:after {
      background-color: black;
    }
  }
}

.aTitle {
  margin-bottom: 25px;
}

.mBody {
  margin-bottom: 100px;
  p {
    margin-bottom: 15px;
  }
}

// A.1. END -----------------------------------------------

// A.2. VACANCIES PAGE ------------------------------------

.oVacanciesPage {
  .oColJobList {
    min-width: 25%;
    .oCard {
      display: flex;
      flex-direction: column;
      height: 100%;
      .mHead {
        flex: 1 1 15%;
        padding: 10px;
        background-color: $grey80;
        transition: 0.3s;
        .aLink {
          display: block;
          text-decoration: none;
          color: white;
          transition: 0.6s;
        }
        &:hover {
          background-color: black;
          transition: 0.6s;
          .aLink {
            transform: scale(1.02);
            transition: 0.3s;
          }
        }
      }
      .mBody {
        flex: 3 3 90%;
        padding: 10px 10px 30px;
        background-color: #cececf;
        position: relative;
        .mFooter {
          position: absolute;
          bottom: 10px;
          .aLink {
            color: black;
            &:after {
              background-color: black;
            }
          }
        }
      }
    }
  }
}

// A.2. END -----------------------------------------------

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($xl-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
