// COMPONENT [ TITLE COPY IMAGE CARD BLOCK ] ##########################################################################

@import "scss/.base/module-index";

.oTitleImageCopyCardGrid {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  padding: 100px 0;

  .aBlockTitle {
    margin-bottom: 30px;
  }

  .mCopy {
    margin-bottom: 50px;
  }

  .oCardGrid {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
