// COMPONENT [ TITLE COPY IMAGE CARD CAROUSEL ] #######################################################################

@import "scss/.base/module-index";

.oTitleImageCopyCardCarousel {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  padding: 100px 0;

  .aBlockTitle {
    margin-bottom: 30px;
  }

  .aSubTitle {
    margin: 50px 0 20px;
  }

  .mCopy {
    margin-bottom: 50px;
  }

  .carouselRow {
    .oCard {
      &:hover {
        .mBody {
          .aCardTitle {
            top: 80%;
          }
          .mCardCopy {
            top: 65%;
          }
        }
      }
      .mBody {
        .aCardTitle {
          @include font(18);
        }
        .mCardCopy {
          @include font(14);
        }
      }
    }
  }
  .oCarouselRegion,
  .manTeamRow {
    .oCard {
      &:hover {
        .mBody {
          transform: translateY(0%);
          .aCardTitle {
            top: 80%;
          }
          .mCardCopy {
            top: 65%;
          }
        }
      }
      .mBody {
        transform: translateY(75%);
        .aCardTitle {
          @include font(14);
        }
        .mCardCopy {
          @include font(11);
        }
      }
    }
  }

  .oCarouselRegion {
    margin: 0 auto;
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($lg-dn) {
    .carouselRow {
      .oCard {
        &:hover {
          .mBody {
            .aCardTitle {
              top: 45%;
            }
            .mCardCopy {
              top: 60%;
            }
          }
        }
      }
    }
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
