// GLBAL [ PROJECTS ] #################################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.0. IMPORTS -------------------------------------------

@import "../../scss/.base/module-index";

// A.0. END: IMPORTS --------------------------------------

// A.1. PAGE BASE STYLES ----------------------------------

.oPage {
  padding: 100px 0 0;
  .aTextLink {
    margin-bottom: 50px;
    display: inline-block;
    cursor: pointer;
    &:after {
      background-color: black;
    }
  }
}

.aTitle {
  margin-bottom: 25px;
}

.mBody {
  margin-bottom: 100px;
  p {
    margin-bottom: 15px;
  }
}

// A.1. END -----------------------------------------------

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media ($xl-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
